# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Own files
*.env
wrappers/__pycache__/
skills/
lessons/
out/
corpus/
coverage_report/
afl_out/
function_information/
output.dot
backtrace.log
compile_errors.log
function_information/config.json
